@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "lahzeh";
  src: url("./assets/fonts/woff2/Lahzeh-FaNum-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "lahzeh";
  src: url("./assets/fonts/woff2/Lahzeh-FaNum-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "lahzeh";
  src: url("./assets/fonts/woff2/Lahzeh-FaNum-SemiBold.woff2") format("woff2");
  font-weight: 650;
}

@font-face {
  font-family: "lahzeh";
  src: url("./assets/fonts/woff2/Lahzeh-FaNum-Bold.woff2") format("woff2");
  font-weight: 750;
}

@theme {
  --font-lahzeh: "lahzeh", sans-serif;
}

body {
  font-family: "lahzeh", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #7c3aed transparent;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(
    180deg,
    rgba(168, 85, 247, 0.9),
    rgba(124, 58, 237, 0.7)
  );
  border-radius: 999px;
  border: 2px solid transparent;
  background-clip: padding-box;

  transition: all 0.25s ease;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    180deg,
    rgba(192, 132, 252, 1),
    rgba(147, 51, 234, 1)
  );
}

.custom-scrollbar::-webkit-scrollbar-corner {
  background: transparent;
}
