@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "lahzeh";
  src: url("./assets/fonts/woff2/Lahzeh-FaNum-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "lahzeh";
  src: url("./assets/fonts/woff2/Lahzeh-FaNum-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "lahzeh";
  src: url("./assets/fonts/woff2/Lahzeh-FaNum-SemiBold.woff2") format("woff2");
  font-weight: 650;
}

@font-face {
  font-family: "lahzeh";
  src: url("./assets/fonts/woff2/Lahzeh-FaNum-Bold.woff2") format("woff2");
  font-weight: 750;
}

@theme {
  --font-lahzeh: "lahzeh", sans-serif;
}

body {
  font-family: "lahzeh", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
